<html>
<head>
    <title>Calculadora</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <header>
        <h1>Calculadora</h1>
    </header>
    <section id="calc">
        <form action="calculate"></form>
            <input type="number" name="number1" placeholder="Digite o primeiro número">
            <select id="operator">
                <option value="+">+</option>
            </select>
            <input type="number" name="number2" placeholder="Digite o segundo número">
        </form>
    </section>
</body>
</html>
